:root {
    --color-1: #686866;
    --color-2: #D9805F;
    --color-3: #bf926b;
    --color-4: #594F4C;
    --color-5: #FFFFFF;
}

@media only screen and (min-width: 600px) {
    :root { --padding: 30vw; }
}
@media only screen and (max-width: 600px) {
    :root { --padding: 15vw; }
}

body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-5); 
    color: #686866; 
}

.row-block {
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 0;
    min-height: 50wh;
}

header {
    margin-top: 10vh;
}

footer {
    margin-top: 40vh;
}

h1 { 
    font-size: 100px;
    border-bottom: 1px ridge;
}

li { 
    list-style: none; margin-bottom: 5px; 
}

a { 
    text-decoration: none; 
    transition: 0.2s; 
    border-bottom: 2px solid var(--color-5); 
    color: var(--color-2); 
}

a:hover { 
    color: var(--color-2); 
    border-bottom-style: dotted;
}