body {
    font-size: 1em;
    font-family: sans-serif;
}

table {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

td {
    border-style: solid;
}

ul {
    list-style: none;
}