:root {
    --color-1: #FCE9D9;
    --color-2: #F2B06B;
    --color-3: #B05F20;
    --color-4: #594F4C;
    --color-5: #2F333B;
}

html { scroll-behavior: smooth; }

@media only screen and (min-width: 600px) {
    :root { --padding: 30vw; }
    .illustration { max-width: 400px; }
}
@media only screen and (max-width: 600px) {
    :root { --padding: 13vw; }
    .illustration { max-width: 90%; }
}
@media only print {
    body { font-family: 'Times New Roman', Times, serif; }
    .illustration { max-width: 200px; font-size: 10; }
}

body { margin: 0; font-family: Calibri, Helvetica, Arial, sans-serif; }
header { background-color: var(--color-5); color: whitesmoke; }
section { background-color: var(--color-2); color: black; }
header, footer, body>section { padding: 10px var(--padding); }

a { text-decoration: none; transition: 0.2s; }
header a { color: var(--color-2); }
header a:hover { color: var(--color-3); }
.katex { overflow-x: auto; overflow-y: hidden; }